[Unit]
Description=Dora Exporter
After=network.target

[Service]
ExecStart=/usr/bin/python3 /path/to/script/main.py
WorkingDirectory=/path/to/script/dora-exporter
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
User=teamphp

[Install]
WantedBy=multi-user.target
