name: Release
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main]
  
permissions:
  contents: write
  pull-requests: write
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Release to GitHub
        uses: cycjimmy/semantic-release-action@v4
        with:
        # You can specify specifying version range for the extra plugins if you prefer.
            extra_plugins: |
                @semantic-release/changelog@6.0.0
                @semantic-release/git
            branches: |
                ['main']
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
